:root {
    --red: #E50914;
    --black: #0F0F0F;
    --white: #FFFFFF;
    --background-color: #0F0F0F;
    --font-color: var(--white);
    --graph-color: rgba(30,30,30,0.85);
    --body-color: #1e1e1e;
    --cell-color: #181818;
    --conditional-cell-color: #202020;
    --hover-cell-color: #2a2a2a;
}

.tab-icon, .theme-switcher-icon {
    filter: invert(1) grayscale(100%) brightness(100%);
}