:root {
    --red: #E50914;
    --white: #0F0F0F;
    --black: #FFFFFF;
    --background-color: #FFFFFF;
    --font-color: var(--white);
    --graph-color: var(--black);
    --netflix-dark-color: #B00710;
}

.tab-icon, .theme-switcher-icon {
    filter: invert(1) brightness(7%);
}

