:root {
    --red: #E50914;
    --black: #0F0F0F;
    --white: #FFFFFF;
}

html, body {
    background-color: var(--black);
    margin: 0px;
}

h1, h2, h3, p {
    color: var(--white);
}

.tab-icon.active {
    filter: invert(13%) sepia(99%) saturate(4000%) hue-rotate(345deg) brightness(100%) contrast(150%);
}

.tab-icon, .theme-switcher-icon {
    filter: invert(1) grayscale(100%) brightness(100%);
}

.tab-icon:hover {
    filter: invert(13%) sepia(99%) saturate(4000%) hue-rotate(345deg) brightness(100%) contrast(150%);
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 32px 32px 10px;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* exec overview */

.exec-overview  {
    display: flex;
    flex-direction: column;
}

/* content explorer */

.content {
    display: flex;
    flex-direction: column;
}

/* trend intelligence */

.trend {
    display: flex;
    flex-direction: column;
}

/* geographic insights */

.geo-insights {
    display: flex;
    flex-direction: column;
}

/* genre and category intelligence */

.genre-int {
    display: flex;
    flex-direction: column;
}

/* creator and talent hub */

.creator-talent {
    display: flex;
    flex-direction: column;
}

/* strategic recommendations */

.strat-recom {
    display: flex;
    flex-direction: column;
}
